body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 4rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 4.5rem);
  gap: 1rem;
  justify-content: center;
}

button {
  width: 5rem;
  height: 5rem;
  border: none;
  border-radius: 1rem;
  background-color: gray; /* color oculto */
  cursor: pointer;
  transition: background-color 0.3s;
}

button:disabled {
  cursor: not-allowed;
}
